<h1 class="text-center mt-4">Edit your profile</h1>
<%= render 'shared/form' %>
<div class="mb-3">
        <a class="text-info" href="/">[ Cancel and Return to Home ]</a>
        </div>
    </div>
</div>