<h1 class="text-center mt-4">Sign up</h1>
<%= render 'shared/form' %>
<div class="mb-3">
        </li>
            <a class="nav-link navbar-item navbar-text <%= request.path == '/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        </div>
    </div>
</div>