.form-container {
    padding-left: 200px;
    padding-top: 50px;
}

.form-text {
    color: #343a40;
    font-weight: 600;
}

.form-text:hover {
    border-color: #ff5959;
    color: #c21d1d;
}
.form-text.active {
    border-color: #c21d1d;
}
.form-control:focus {
    border-color: #c21d1d;
}